<?xml version="1.0" encoding="utf-8"?>
<manifest package="eu.vcmi.vcmi"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="internalOnly">

    <uses-feature android:glEsVersion="0x00020000" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.VCMI">

        <activity
            android:name=".ActivityLauncher"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityError"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityMods"
            android:screenOrientation="landscape" />

        <activity
            android:name="org.libsdl.app.SDLActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.VCMI.Full" />

        <service
            android:name=".ServerService"
            android:process="eu.vcmi.vcmi.srv" />
    </application>

</manifest> 
