/ext/boost/boost_1_61_0/*
/ext/ff/ffmpeg/
/ext/ff/x264/
/ext/SDL2/core/code/
/ext/SDL2/SDL2-image/code/
/ext/SDL2/SDL2-mixer/code/
/ext/SDL2/SDL2-ttf/code/
/ext/iconv/code/
/obj
/libs
/project/jni/vcmi-app/vcmi-app/Version.cpp
/project/jni/vcmi-app/vcmi-app/Data/
/project/jni/vcmi-app/vcmi-app/Mp3/
/project/jni/vcmi-app/vcmi-app/**/RD/
/**/jniLibs/
/project/build
/project/**/build
/**/.gradle
/project/.idea/workspace.xml
/project/jni/**/*.suo
/__pycache__