/ext/boost/boost_1_61_0/*
/ext/ffmpeg/ffmpeg-toolchain
/obj
/libs
/project/jni/vcmi-app/vcmi-app/Version.cpp
/**/jniLibs/
/project/build
/project/**/build
/**/.gradle
/project/.idea/workspace.xml
/project/jni/**/*.suo