/ext/boost/boost*/*
/ext/ff/ffmpeg/
/ext/ff/x264/
/ext/SDL2/SDL2-image/code/
/ext/SDL2/SDL2-mixer/code/
/ext/SDL2/SDL2-ttf/code/
/ext-output/
/obj
/libs
/project/jni/vcmi-app/
/**/jniLibs/
/project/build
/project/**/.externalNativeBuild
/project/**/build
/**/.gradle
/project/.idea/workspace.xml
/project/jni/**/*.suo
/__pycache__