[submodule "ext/vcmi"]
	path = ext/vcmi
	url = https://github.com/vcmi/vcmi.git
	branch = beta
[submodule "ext/iconv/code"]
	path = ext/iconv/code
	url = https://github.com/ironsteel/iconv-android.git
[submodule "ext/oneTBB"]
	path = ext/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "ext/ff/builder"]
	path = ext/ff/builder
	url = https://github.com/Javernaut/ffmpeg-android-maker.git
